{% extends "home.html" %}
{% block body %}
<h4 class="center">{{message}}</h4>
<div class="row">
	<form action="{% url 'userforget' %}" method='POST'>
			{% csrf_token %}
					<div class="col s8 m6 l6 offset-s2 offset-m3 offset-l3">{{x}}</div>
        						<div class="input-field col s8 m6 l6 offset-s2 offset-m3 offset-l3">
				                    <input type="text" name="securitycode"></input>
				                    <label>Security Code</label> 
			                	</div>
					<div class="row">
						<button class="btn waves-effect waves-light col s6 m4 l2 offset-s3 offset-m4 offset-l5" type="submit" name="action">Submit
					    <i class="material-icons right">send</i>
					</button>
					 </div>
					<a href="{% url 'forgetpassword' %}"class="waves-effect waves-light btn  col s6 m4 l2 offset-s3 offset-m4 offset-l5">Resend Code</a>
	</form>
</div>
{% endblock %}